/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: red 1px solid;
}
*/
body {
	width: 100%;
	box-sizing: border-box;
}

/********** Header *****************/

header {
	background-color: #404042;
	text-align: center;
	margin-left: -8px;
}

h1 {
	color: #DD1972;
	font-family: 'Open Sans', sans-serif; 
	/*font-size: 50px;*/
	font-style: bold;
}

span {
	font-weight: 300;
}

h2 {
	display: inline;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    text-align: center; 
    position: relative;
    overflow: hidden;
    width: 50%;

}

h2:before, h2:after {
	position: absolute;
	top: 51%;
	overflow: hidden;
	width: 50%;
	height: 1px;
	content: '\ a0';
	background-color: white;
}

h2:before {
	margin-left: -50%;
	text-align: right;
}

/************* Main Body ********************/

main {
	font-family: 'Open Sans', sans-serif; 
}

h3 {
	font-weight: 800;
}

input,
label,
 {
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300;
/* 	display: block; */
}

input {
	padding-left: 3px;
}

form.range_form {
	display: flex;
}

.min_range_input,
.max_range_input,
.challenger_form,
.challenger_1_h3,
.challenger_1_input,
.one_guess, 
.challenger_2_h2,
.challenger_2_input,
.two_guess,
.challenger_buttons,
.challenger_1_current_guess,
.challenger_2_current_guess {
	display: flex;
}

.left {
	background-color: #F7F7F7;
	float: left;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.set_range {
	color: #6E6E6E;
	display: inline flex;
	height: 15vh;
	flex-direction: column;
	border: solid #D0D2D3;
	margin: 30px 30px 30px 30px;
	background-color: white;
	padding: 0px 25px 0px 25px;	
}

input#range {
	width: 200px;
	height: 20px;
	display: block;
}
.min_range_input {
	display: flex;
	padding: 0px 200px 0px 0px;
	width: 40px;
}

.current_range {
	display: flex;
	justify-content: center;
	background-color: white;
	border: solid 2px #D0D2D3;
	margin: 30px 30px 30px 30px;
	padding: 0px 0px 20px 20px;
}

.latest_score {
	display: flex;
	justify-content: space-around;
	background-color: white;
	border: solid 2px #D0D2D3;
	margin: 30px 30px 30px 30px;
	padding: 60px 0 60px 0;
}

.challenger_1_current_guess {
	border-right: 2px solid #D0D2D3;
	text-align: center;
	width: 50%;
}

.challenger_2_current_guess {
	text-align: center;
	width: 50%;
}

.button {
	background-color: #D0D2D3;
	border-radius: 15%;
	color: #FFFFFF;
	height: 20px;
}

.button:visited {
	background-color: #6E6E6E;
	color: #FFFFFF;
}

.button:hover {
	background-color: #DD1972;
	color: white;
}

.current_guess {
	font-weight: 300;
}

.right {
	background-color: #404041;
	float: right;
	display: flex;
}