* {
  box-sizing: border-box;
/*  border: red 1px solid;*/
}

body {
	width: 100%;
	height: 100%;	
	font-family: 'Open Sans', sans-serif;
	display:flex;
	flex-wrap:wrap;
}

/********** Header *****************/

header {
	background-color: #404042;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  width: 100%;
  margin: 0px;
  height:20%;
}

h1 {
	color: #EC458B;
	font-size: 4em;
	margin: 0px;
}

h2 {
	font-weight:300;
	display: inline;
	color: white;
	font-size: 2em;
	
	font-weight: 300;
  text-align: center; 
  position: relative;
  overflow: hidden;
  width: 50%;
    font-size: 30px;
}

h2:before, h2:after {
	position: absolute;
	top: 51%;
	overflow: hidden;
	width: 50%;
	height: 1px;
	content: '\ a0';
	background-color: white;
}

h2:before {
	margin-left: -50%;
	text-align: right;
}

/************* Main Body Elements ********************/

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 80%;

}

h3 {
	font-weight: 800;
}

input,
label,
 {
	font-weight: 300;
 	display: block; 
}

input {

}

form.range_form {

}

/*************** Main Body Classes ********************/
/*


/********************** Left Side Content ************************/

.left {
	background-color: #F7F7F7;
	width: 50%;
	display: flex;
	flex-direction: column;
/*	height: 100%;*/
	padding:10px;
}

/***************** First Box Content ***********************/

.set_range {
	color: #6E6E6E;
	height: 25%;
	flex-direction: column;
	border: solid #D0D2D3;
	background-color: white;
	width: 100%;
}

label {
	font-size: 18px;
}

.min_range_input {
	display: flex;
}

input.range {
	width: 200px;
	height: 25px;
	display: block;
	border: solid 2px #D0D2D3;
}

#set_range {
}

/***************** Second Box Content ***********************/

.current_range {
	display: flex;
	flex-direction: column;
	background-color: white;
	height: 50%
	border: solid 2px #D0D2D3;
	padding: 0px;
	width: 100%;
}

input.challenger_input {
	display: block;
	height: 35px;
	border: solid 2px #D0D2D3;
	width: 430px;
}

input.challenger_guess{
	display: block;
	height: 35px;
	border: solid 2px #D0D2D3;
	width: 100%;

}
.challenger1 {
}

.challenger2 {
}

.current_range form {
}

.challenger_form {
	display: flex;
}

.challenger_2_input {
	display: flex;
}

/***************** Third Box Content ***********************/


.latest_score {
	display: flex;
	justify-content: space-around;
	background-color: white;
	border: solid 2px #D0D2D3;
	padding: 10px
	width: 100%;
	height:25%;
}

.challenger_1_current_guess {
	border-right: 2px solid #D0D2D3;
	text-align: center;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.challenger_2_current_guess {
	text-align: center;
	width: 50%;
	flex-direction: column;
}

.challenger_buttons {
	display: flex;
	justify-content: space-around;
}

.button {
	background-color: #D0D2D3;
	border-radius: 10px;
	color: #FFFFFF;
	height: 20px;
	font-size: 20px;
	text-align: center;
	height: 40px;
	width: 150px;
}

.button:visited {
	background-color: #6E6E6E;
	color: #FFFFFF;
}

.button:hover {
	background-color: #DD1972;
	color: white;
}

.current_guess {
	font-weight: 300;
}

/***************** Right Side Content ***********************/

.right {
	background-color: gray;
	display: flex;
	flex-direction: column;	
	width: 50%;
	padding:10px;
}

/***************** Card Style ***********************/


.card_1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 225px;
	width: 100%;
	background-color: white;
	padding: 0 25px 0 25px;
	color: #6E6E6E;
	font-weight: 300;
}

.card_1 p {
	margin: 0;
}

.winner_name, .winner {
	text-align: center;
}

.top_of_card {
	display: inline;
	text-align: center;	
}

.bottom_of_card {
	display: inline;
	padding-bottom: 10px;
	border-top: solid 1px gray;
}

.top_of_card {
	padding-top: 10px;
	border-bottom: solid 1px gray;
}

.bold {
	font-weight:700;
}

.winner_name, .winner {
	font-size: 2em;
}

.winner {
	font-weight: 300;
}

.gray {
	color: #6E6E6E
}

.bottom_of_card_p {
	padding-top: 5px;
}

.challenger_card_name {
	padding-bottom: 5px;
}

.bottom_of_card >* {
	display:inline-block;
}

.bottom_card_guess {
	padding-right: 130px
}

 .bottom_card_time {
 	padding-right: 170px;
 }

.x_button {
	padding-top: 5px;
	height: 20px;
	width: 20px;
}
