* {
  box-sizing: border-box;
/*  border: red 1px solid;*/
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;	
	font-family: 'Open Sans', sans-serif;
	display:flex;
	flex-wrap:wrap;
}

/********** Header *****************/

header {
	background-color: #404042;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  width: 100%;
  margin: 0px;
  height:20%;
}

h1 {
	color: #EC458B;
	font-size: 4em;
	margin: 0px;
}

h2 {
	font-weight:300;
	display: inline;
	color: white;
	font-size: 2em;
	font-weight: 300;
  text-align: center; 
  position: relative;
  overflow: hidden;
  width: 50%;
    font-size: 30px;
}

h2:before, h2:after {
	position: absolute;
	top: 51%;
	overflow: hidden;
	width: 49%;
	height: 1px;
	content: '\ a0';
	background-color: white;
}

h2:before {
	margin-left: -50%;
	text-align: right;
}

.line-space {
	margin: 0px 5px;
}

/************* Main Body Elements ********************/

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 80%;

}

h3 {
	font-weight: 800;
	display: block;
}

input,
label,
 {
	font-weight: 300;
 	display: block; 
}

form.range_form {

}

/*************** Main Body Classes ********************/
/*

/********************** Left Side Content ************************/

.left {
	background-color: #F7F7F7;
	width: 50%;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding:10px;
	border-right: 2px solid #AAAAAA;
}

/***************** First Box Content ***********************/


.set_range {
	color: #6E6E6E;
	border: solid #D0D2D3;
	background-color: white;
	width: 100%;
	height: 145px;
	margin-bottom: 10px;
	padding: 0px 25px 0px 25px;
}

.set_range_h3 {
	display: block;
}

.range_form {
	display: flex;
}

label {
	font-size: 18px;
}

.min_range_input {
	margin-right: 20px; 
}

input.range {
	width: 250px;
	height: 30px;
	display: block;
	border: solid 2px #D0D2D3;
}

#set_range {
	margin-left: 80px;
	margin-top: 15px;
}
/***************** Second Box Content ***********************/

.current_range {
	color: #6E6E6E;
	background-color: white;
	border: solid #D0D2D3;
	width: 100%;
	height: 400px;
	margin-bottom: 10px;
	padding: 0px 25px 0px 25px;
}

.challenger_1_input {
	display: flex;
}
input.challenger_input {
	display: block;
	height: 35px;
	border: solid 2px #D0D2D3;
	width: 460px;
	margin-right: 15px;
}

input.challenger_guess{
	display: block;
	height: 35px;
	border: solid 2px #D0D2D3;
	width: 260px;
}

.challenger_2_input {
	display: flex;
}

/***************** Third Box Content ***********************/


.latest_score {
	display: flex;
	background-color: white;
	border: solid #D0D2D3;
	width: 100%;
	margin-bottom: 10px;
	padding: 50px 0px 50px 0px;
}

.challenger_1_current_guess {
	border-right: 2px solid #D0D2D3;
	text-align: center;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.challenger_2_current_guess {
	text-align: center;
	width: 50%;
	flex-direction: column;
}

.challenger_buttons {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-top: 10px;
}

.button {
	background-color: #D0D2D3;
	border-radius: 10px;
	color: #FFFFFF;
	height: 20px;
	font-size: 20px;
	text-align: center;
	height: 42px;
	width: 170px;
	margin-top: 30px;
}

.button:visited {
	background-color: #6E6E6E;
	color: #FFFFFF;
}

.button:hover {
	background-color: #DD1972;
	color: white;
}

.current_guess {
	font-weight: 300;
}

/***************** Right Side Content ***********************/

.right {
	background-color: #D1D2D4;
	display: flex;
	flex-direction: column;	
	width: 50%;
	padding:10px;
}

/***************** Card 1 ***********************/


.card_1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 225px;
	width: 80%;
	background-color: white;
	padding: 0 25px 0 25px;
	color: #7F7F7F;
	font-weight: 300;
	margin: 1% auto 10px auto;
	height: 250px;
	border: 2px solid #AAAAAA;
}

.card_1 p {
	margin: 0;
}

/***************** Card 2 ***********************/

.card_2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 225px;
	width: 80%;
	background-color: white;
	padding: 0 25px 0 25px;
	color: #7F7F7F;
	font-weight: 300;
	margin: 1% auto 10px auto;
	height: 250px;
	border: 2px solid #AAAAAA;
}

.card_2 p {
	margin: 0;
}

/***************** Card 3 ***********************/

.card_3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 225px;
	width: 80%;
	background-color: white;
	padding: 0 25px 0 25px;
	color: #7F7F7F;
	font-weight: 300;
	margin: 1% auto 0 auto;
	height: 250px;
	border: 2px solid #AAAAAA;
}

.card_3 p {
	margin: 0;
}

.winner_name, .winner {
	text-align: center;
}

.top_of_card {
	display: inline;
	text-align: center;	
}

.vs {
	margin: 0 20px;
}

.bottom_of_card {
	display: inline;
	padding-bottom: 10px;
	border-top: solid 1px gray;
}

.top_of_card {
	padding-top: 10px;
	border-bottom: solid 1px gray;
}

.bold {
	font-weight:700;
}

.winner_name, .winner {
	font-size: 2em;
}

.winner {
	font-weight: 300;
}

.gray {
	color: #6E6E6E
}

.bottom_of_card_p {
	padding-top: 5px;
}

.challenger_card_name {
	padding-bottom: 5px;
}

.bottom_of_card >* {
	display:inline-block;
}

.bottom_card_guess {
	padding-right: 30%;
	padding-left: 2%;
}

 .bottom_card_time {
 	padding-right: 34%;
 }

.x_button {
	height: 33px;
	width: 25px;
	padding-top: 10px;
}

/******* classes for styling and IDs for JS *******/
