* {
  box-sizing: border-box;
/*  border: red 1px solid;*/
}

body {
	display:flex;
	flex-wrap:wrap;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin: 0px;	
	width: 100%;
}

/********** Header *****************/

header {
	align-items: center;
	background-color: #404042;
	display: flex;
  	height:20%;
	justify-content: center;
	flex-direction: column;
  	margin: 0px;
  	width: 100%;
}

h1 {
	color: #EC458B;
	font-size: 4em;
	margin: 0px;
}

h2 {
	color: white;
	display: inline;
	font-size: 30px;
	font-weight:300;
  	overflow: hidden;
  	position: relative;
  	text-align: center; 
  	width: 50%;
}

h2:before, h2:after {
	background-color: white;
	content: '\ a0';
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 51%;
	width: 49%;
}

h2:before {
	margin-left: -50%;
	text-align: right;
}

.line-space {
	margin: 0px 5px;
}

/************* Main Body Elements ********************/

main {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;

}

h3 {
	display: block;
	font-weight: 800;
}

input,
label {
 	display: block; 
	font-weight: 300;
}

form.range_form {
}

/********************** Left Side Content ************************/

.left {
	background-color: #F7F7F7;
	display: flex;
	height: 100%;
	flex-direction: column;
	padding:10px;
	width: 50%;
	border-right: 2px solid #AAAAAA;
}

/***************** First Box Content ***********************/


.set_range {
	color: #6E6E6E;
	background-color: white;
	border: solid #D0D2D3;
	height: 145px;
	margin: 1% auto 10px auto;
	padding: 0px 25px 0px 25px;
	width: 100%;
}

.set_range_h3 {
	display: block;
}

.range_form {
	display: flex;
	width: 100%;
}

label {
	font-size: 18px;
}

.min_range_input {
	margin-right: 20px; 
	width: 100%;
}

input.range {
	border: solid 2px #F3F3F3;
	display: block;
	height: 30px;
	width: 250px;
}

#set_range {
	font-weight: 500;
	margin-left: 80px;
	margin-top: 15px;
	width: 75%;
}

/***************** Second Box Content ***********************/

.current_range {
	color: #6E6E6E;
	background-color: white;
	border: solid #D0D2D3;
	height: 400px;
	margin-bottom: 10px;
	padding: 0px 25px 0px 25px;
	width: 100%;
}

.current_range_head {
	font-size: 19px;
}

.number {
	font-weight: bold;
	text-decoration: underline;
}

.challenger_1_input {
	display: flex;
}

input.challenger_input {
	border: solid 2px #F3F3F3;
	display: block flex;
	height: 35px;
	margin-right: 15px;
	width: 460px;
}

input.challenger_guess{
	border: solid 2px #F3F3F3;
	display: block flex;
	height: 35px;
	width: 260px;
}

.challenger_2_input {
	display: flex;
}

/***************** Third Box Content ***********************/

.latest_score {
	background-color: white;
	border: solid #D0D2D3;
	display: flex;
	margin: 0px;
	/*margin-bottom: 10px;*/
	padding: 20px 0px 20px 0px;
	width: 100%;
}

.latest_score_head {
	align-content: baseline;
	color: #6E6E6E;
	display: flex;
	justify-content: flex-start;
	font-size: 19px;
	margin: 0px;
	padding-left: 20px;
}

.player_name {
	color: grey;
	font-weight: 700;
}

.current_guess_1,
.current_guess_2 {
	font-weight: 300;
	font-size: 20px;
}

.pink_number {
	color: #DD1972;
	font-size: 140px;
	font-weight: 700;
	margin: 0;
}

.challenger_1_current_guess {
	border-right: 2px solid #D0D2D3;
	display: flex;
	flex-direction: column;
	font-size: larger;
	text-align: center;
	width: 50%;
}

.challenger_2_current_guess {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 25px;
	font-size: larger;
	text-align: center;
	width: 50%;
}

.challenger_buttons {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	width: 100%;
}

.button {
	color: #FFFFFF;
	background-color: #D0D2D3;
	border-radius: 20px;
	height: 20px;
	font-size: 20px;
	font-weight: 500;
	height: 42px;
	margin-top: 30px;
	text-align: center;
	width: 170px;
}

.button:visited {
	background-color: #6E6E6E;
	color: #FFFFFF;
}

.button:hover {
	background-color: #DD1972;
	color: white;
}

.current_guess {
	font-weight: 300;
}

/***************** Right Side Content ***********************/

.right {
	background-color: #D1D2D4;
	display: flex;
	flex-direction: column;	
	padding:10px;
	width: 50%;
}

/***************** Card 1 ***********************/

.card_1 {
	background-color: white;
	color: #6E6E6E;
	display: flex;
	flex-direction: column;
	font-weight: 300;
	height: 225px;
	justify-content: space-between;
	padding: 0 25px 0 25px;
	width: 100%;
	width: 80%;
	background-color: white;
	padding: 0 25px 0 25px;
	color: #7F7F7F;
	font-weight: 300;
	margin: 1% auto 10px auto;
	height: 250px;
	border: 2px solid #AAAAAA;
}

.card_1 p {
	margin: 0;
}

/***************** Card 2 ***********************/

.card_2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 225px;
	width: 80%;
	background-color: white;
	padding: 0 25px 0 25px;
	color: #7F7F7F;
	font-weight: 300;
	margin: 1% auto 10px auto;
	height: 250px;
	border: 2px solid #AAAAAA;
}

.card_2 p {
	margin: 0;
}

/***************** Card 3 ***********************/

.card_3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 225px;
	width: 80%;
	background-color: white;
	padding: 0 25px 0 25px;
	color: #7F7F7F;
	font-weight: 300;
	margin: 1% auto 0 auto;
	height: 250px;
	border: 2px solid #AAAAAA;
}

.card_3 p {
	margin: 0;
}

.winner_name, .winner {
	text-align: center;
}

.top_of_card {
	display: inline;
	text-align: center;	
}

.vs {
	margin: 0 20px;
}

.bottom_of_card {
	border-top: solid 1px gray;
	display: inline;
	padding-bottom: 10px;
}

.top_of_card {
	border-bottom: solid 1px gray;
	padding-top: 10px;
}

.bold {
	font-weight:800;
}

.winner_name, .winner {
	font-size: 2em;
}

.winner {
	font-weight: 300;
}

.gray {
	color: #6E6E6E
}

.bottom_of_card_p {
	padding-top: 5px;
}

.challenger_card_name {
	padding-bottom: 5px;
}

.bottom_of_card >* {
	display:inline-block;
}

.bottom_card_guess {
	padding-right: 30%;
}

 .bottom_card_time {
 	padding-right: 30%;
}

.x_button {
	padding-top: 5px;
	height: 20px;
	width: 20px;
}
	/*background-color: red;
	display: flex;
	padding:10px;
	width: 50%;
}*/
=======
	padding-left: 2%;
}

 .bottom_card_time {
 	padding-right: 34%;
 }

.x_button {
	height: 33px;
	width: 25px;
	padding-top: 10px;
}

@media (max-width: 1486px) {
	.range_form {
		display: flex;
		flex-direction: column;
	}
}

/******* classes for styling and IDs for JS *******/
