* {
  box-sizing: border-box;
/*  border: red 1px solid;
*/}

body {
	width: 100%;
	height: 100vh;		
}

/********** Header *****************/

header {
	background-color: #404042;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    width: 100%;
    margin: 0px;
}

h1 {
	color: #EC458B;
	font-family: 'Open Sans', sans-serif; 
	font-size: 4em;
	margin: 0px;
}

span {
	font-weight: 300;
}

h2 {
	display: inline;
	color: white;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    text-align: center; 
    position: relative;
    overflow: hidden;
    width: 50%;
    font-size: 30px;
}

h2:before, h2:after {
	position: absolute;
	top: 51%;
	overflow: hidden;
	width: 50%;
	height: 1px;
	content: '\ a0';
	background-color: white;
}

h2:before {
	margin-left: -50%;
	text-align: right;
}

/************* Main Body Elements ********************/

main {
	font-family: 'Open Sans', sans-serif; 
	width: 100%;
}

h3 {
	font-weight: 800;
}

input,
label,
 {
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300;
 	display: block; 
}

input {
	padding-left: 3px;
}

form.range_form {
	display: flex;
}

/*************** Main Body Classes ********************/

.min_range_input,
.max_range_input,
.challenger_form,
.challenger_1_h3,
.challenger_1_input,
.one_guess, 
.challenger_2_h2,
.challenger_2_input,
.two_guess,
.challenger_buttons,
.challenger_1_current_guess,
.challenger_2_current_guess {
	display: flex;
}

/********************** Left Side Content ************************/

.left {
	background-color: #F7F7F7;
	float: left;
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-left: -1%;
	height: 80%;
}

/***************** First Box Content ***********************/

.set_range {
	color: #6E6E6E;
	display: flex;
	height: 15vh;
	flex-direction: column;
	border: solid #D0D2D3;
	margin: 30px 30px 45px 30px;
	background-color: white;
	padding: 0px 25px 0px 25px;	
	width: 93%;
}

label {
	font-size: 18px;
}

.min_range_input {
	display: flex;
	padding: 0px 10px 0px 0px;
	/*width: 100px;*/
	/*height: 40px;*/
}

input.range {
	width: 200px;
	height: 25px;
	display: block;
	border: solid 2px #D0D2D3;
}

#set_range {
	margin-left: 45px;
}

/***************** Second Box Content ***********************/

.current_range {
	display: flex;
	flex-direction: column;
	background-color: white;
	height: 45vh;
	border: solid 2px #D0D2D3;
	margin: 30px 30px 45px 30px;
	padding: 0px;
	width: 93%;
}

input.challenger_input {
	display: block;
	height: 35px;
	border: solid 2px #D0D2D3;
	width: 430px;
}

input.challenger_guess{
	display: block;
	height: 35px;
	border: solid 2px #D0D2D3;
	width: 100%;

}
.challenger1 {
	padding: 0px 20px 0px 0px;
}

.challenger2 {
	padding: 0px 20px 0px 0px;
}

.current_range form {
	padding: 0 0 0 20px;
}

.challenger_form {
	display: flex;
}

.challenger_2_input {
	display: flex;
	margin: 0 0 20px 0;
}

/***************** Third Box Content ***********************/

.latest_score {
	display: flex;
	justify-content: space-around;
	background-color: white;
	border: solid 2px #D0D2D3;
	margin: 30px 30px 30px 30px;
	padding: 60px 0 60px 0;
	width: 93%;
}

.challenger_1_current_guess {
	border-right: 2px solid #D0D2D3;
	text-align: center;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.challenger_2_current_guess {
	text-align: center;
	width: 50%;
	flex-direction: column;
}

.challenger_buttons {
	display: flex;
	justify-content: space-around;
}

.button {
	background-color: #D0D2D3;
	border-radius: 10px;
	color: #FFFFFF;
	height: 20px;
	font-size: 20px;
	text-align: center;
	height: 40px;
	width: 150px;
}

.button:visited {
	background-color: #6E6E6E;
	color: #FFFFFF;
}

.button:hover {
	background-color: #DD1972;
	color: white;
}

.current_guess {
	font-weight: 300;
}

/***************** Right Side Content ***********************/

.right {
	background-color: #404041;
	float: right;
	display: flex;
}

